[Desktop Entry]
Type=Application
Name=GECOS First-start assistant
Exec=/usr/bin/python /usr/local/bin/firstart
OnlyShowIn=GNOME;Unity;
NoDisplay=true
StartupNotify=false
X-GNOME-Autostart-Phase=Initialization
X-GNOME-Autostart-Notify=false
X-GNOME-AutoRestart=false
X-Ubuntu-Gettext-Domain=firstart
